@import url("https://fonts.googleapis.com/css2?family=Questrial&display=swap");

:root {
  font-family: "questrial", Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 16px;
  // 1em = 16px

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
    box-sizing: border-box;
}

main {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    span.author {
        display: block;
        margin: 0.5rem 0;
    }
    blockquote {
        width: 100%;
        text-align: left;
        margin: 1rem 0;
        border: 1px solid #666;
        background: rgba(255, 255, 255, 0.15);
        padding: 1rem;
    }
}
